# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Lenovo\Desktop\javaa\inheritance_realife_goodesing\.idea/dataSources/
/dataSources.local.xml
