# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Lenovo\Desktop\javaa\String_sınıfı_metodları\.idea/dataSources/
/dataSources.local.xml
