# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Lenovo\Desktop\javaa\Swing\Kelime Harf Sayısı Bulma\.idea/dataSources/
/dataSources.local.xml
