# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Lenovo\Desktop\javaa\cok_boyutlu_arrayler\.idea/dataSources/
/dataSources.local.xml
