# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Lenovo\Desktop\javaa\Anonim Ineer Sınıflar\.idea/dataSources/
/dataSources.local.xml
